name: Deploy gh-pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        # Fetch all history for deployment action
        fetch-depth: 0
    
    - name: Configure Git for Deployment
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>@users.noreply.github.com"
    
    - name: Get Infographic Filename
      # We need the exact file path and name
      id: file_info
      run: echo "FILENAME=github_vs_gitlab_cicd_infographic.html" >> $GITHUB_OUTPUT
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # The source file to copy and deploy
        source: ${{ steps.file_info.outputs.FILENAME }}
        # The target directory on the gh-pages branch (root)
        destination: index.html
        # Set to true to automatically publish the source file to the root of the gh-pages branch
        publish_dir: .
        force_orphan: true # Recommended for single-page deployments
